
.cont
{
  font-family: "Montserrat", sans-serif;
  max-width: 600px;
  width: 80vw;
  padding: 40px;
  position: sticky;
  top: 10%;
  
  background-color: #f5e6ca;
  border: 2px solid #3498db;
  border-radius: 30px;
  text-align: left;
  transition: 0.25s;
  margin-top: 10px
}

.btn

{

  border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #3498db;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10px;
    
}


.logo
{
align-content: center;
}

