 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0)
} 


/* .card {
  margin-bottom: 20px;
  border: none
 
  
} */

.box {
  width: 500px;
  padding: 40px;
  position: sticky;
  top: 50%;
  left: 35%;
  background: linear-gradient(to right, #f6dfeb,#caf7e3)
  ;
  border: 2px solid #3498db;
  border-radius: 30px;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px

}

.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #3498db;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
 transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #2ecc71
}




.box input[name="register"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid red;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[name="register"]:hover {
  background: red
}
.forgot {
  text-decoration: underline
}


