/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {

    background-color: #d1d9d9;
    margin: 15% auto; /*15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left;
 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .btn
  {
border: 10px black;
border-radius: 20px;

  }
.book{
  font-family: "Montserrat", sans-serif;
  width: 500px;
  padding: 40px;
  position:relative;
  top: 10%;
  bottom: 20%;
  left: 35%;
  background-color:#d1d9d9; 
  border: 5px solid #3498db;

  text-align: left;
  transition: 0.25s;
  margin-top: 10px;

    
}
.buttonn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  
}
.buttonn:hover {
  color: #000 !important;
  background-color: #ccc !important
}
.buttonn,
.buttonn {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
   margin: 0px;

}
buttonn {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
